.row  {
  display: flex;
}
body {
	background-color: violet;
	background-image: url("http://i.magaimg.net/img/veq.png");
	font-family: verdana;
}

nav {
    background-color: #333;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;

}


nav a {
    
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    
}

nav a:hover {
    background-color: #33CC99;
    color: black;}

.wrapper {
	display: flex;
	margin:20px;
}

.column1, .column2 {
	margin: 10px;
	flex: 1;
  border:1px solid red;
  text-align: center;
  margin: 20px;
  padding: 20px;
}
.vid-1, .vid-2, .vid-3 {
  flex: 1;
  border:1px solid red;
  text-align: center;
  margin: 8px;
  padding: 5px;
  background-color: white;
 }
  


.caja1, .caja2{
	margin: 10px; border: 1px solid;
}
.caja1 img { border-radius: 90%;
text-align: center;
 }
h1 {
	font-weight: bold;
	font-size: 20px;
}
#navlist{
	color:blue;


}
#title {
	font-size: 30px;
	align-content: center;
	font-weight: bold;
	color: white;
	font-family: "verdana";}
ul{
	align-items: center;
	color: white;
}

.row div img {
  border-radius: 10%;
  width: 45%;
  height: auto;
}

#title {
	font-size: 40px;
	font-weight:bold;
}